body {
    font-family: 'Source Sans 3';
    padding: 0px;
    margin: 0px;
}
p {
    margin: 0;
    padding: 0;
}

.page {
    margin: 0px 130px;
}

.header {
    width: 100%;
    height: 113px;
    display: flex;
    position: relative;
    top: 32px;
}
.header img {
    width: 180px;
    height: 38px;
}
.rignt_position {
    margin-left: auto;
    margin-right: 50px;
}
.contact {
    font-size: 14px;
    font-weight: 400;
}
.contact span {
    color: #607CE6;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.menu {
    display: flex;
    width: 100%;
    border-top: 1px black solid;
    padding-top: 15px;
    z-index: 2;
}
.menu span {
    margin-right: auto;
    cursor: pointer;
    z-index: 3;
}
.telephon {
    display: flex;
    justify-content: center;
    color: #607CE6;
    cursor: pointer;
}

.hero {
    width: 100%;
    height: auto;
    position: relative;
    top: 80px;
}
.hero_text {
    display: flex;
    width: 100%;
}
.hero_text p {
    width: 580px;
    font-size: 60px;
    font-weight: 700;
}
.hero_text span {
    width: 380px;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    top: 35px;
}
.hero img {
    width: 100%;
    height: auto;
    position: relative;
    top: 35px;
}

.about {
    margin-top: 170px;
}
.about p {
    font-size: 48px;
    font-weight: 700;
}
.about_text {
    position: relative;
    top: 35px;
    font-size: 16px;
    font-weight: 400;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.about_img {
    margin-top: 75px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.about_img img {
    width: 100%;
}

.product {
    margin-top: 80px;
    height: auto;
}
.product p {
    font-size: 48px;
    font-weight: 700;
}
.fon_card_products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.card_product {
    width: auto; 
    height: 435px;
    background: #F5F5F5;
    padding: 35px 25px;
    display: flex;
    flex-direction: column;
}
.card_product img {
    width: 200px;
    height: auto;
}
.card_product_text {
    margin-top: auto;
}
.card_product_text p {
    font-size: 28px;
    font-weight: 600;
}
.card_product_text span {
    font-size: 20px;
    font-weight: 400;
    color: #607CE6;
    cursor: pointer;
}
.card_product_text span::after {
    content: ">";
    position: relative;
    top: 2.5px;
    left: 5px;
}

.map {
    margin-top: 80px;
}
.map p {
    font-size: 48px;
    font-weight: 700;
}
.map img {
    width: 100%;
    height: auto;
}

.news {
    margin-top: 80px;
}
.news p {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 35px;
}
.news_fon_cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.news_card {
    width: auto;
    height: 480px;
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
}
.news_card img{
    width: 100%;
    height: auto;
}
.news_card p {
    margin: 15px;
    font-size: 20px;
    font-weight: 400;
}
.link_and_data {
    margin: 15px;
    margin-top: auto;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}
.link_and_data p {
    margin: 0px;
    padding: 5px;
    color: #607CE6;
    cursor: pointer;
}
.link_and_data span {
    padding: 5px;
    color: #888888;
}

.footer {
    margin-top: 80px;
    display: flex;
    width: 100%;
    height: 360px;
    background: #333333;
}
.footer_img_and_text {
    margin: 55px 130px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.footer_img_and_text img {
    width: 180px;
    height: auto;
    align-self: flex-start;
}
.footer_text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 55px;
}
.footer_group {
    display: flex;
    flex-direction: column;
}
.footer_group span {
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}